[user]
  name = hakubishin3
  email = hansaku187@gmail.com
[alias]
  st = status
  ch = checkout
  ps = push
  pl = pull
  ft = fetch
  cm = commit
  br = branch
  sw = switch
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[url "git@github.com:"]
  insteadOf = https://github.com/
[credential]
  helper = osxkeychain
[push]
  default = nothing
